{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "shared/github-box.html" %}
{% endblock %}

{% block scripts %}
<script src="http://rawgit.com/mrdoob/three.js/dev/build/three.min.js" type="text/javascript"></script>
<script src="http://rawgit.com/mrdoob/three.js/master/examples/js/loaders/ColladaLoader.js" type="text/javascript"></script>
<script src="http://rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js" type="text/javascript"></script>
<script src="scripts/main.js"></script>
{% endblock %}
